@font-face {
  font-family: THICCCBoi;
  font-weight: 100;
  src: url("../font/THICCCBOI-Thin.woff2") format("opentype");
}

@font-face {
  font-family: THICCCBoi;
  font-weight: 400;
  src: url("../font/THICCCBOI-Regular.woff2") format("opentype");
}

@font-face {
  font-family: THICCCBoi;
  font-weight: 800;
  src: url("../font/THICCCBOI-ExtraBold.woff2") format("opentype");
}

* {
  box-sizing: border-box;
}

/* fluid type */

html {
  font-size: 1em;
}

@media (min-width: 768px) {
  html {
    font-size: calc(((2.8438 - 1) * ((100vw) - 48em) / (187.5 - 48)) + 1em);
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 2.8438em;
  }
}

/* structure */

body {
  margin: 0;
}

.container {
  font-family: "THICCCBoi", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.4;
  color: darkslategrey;
}

:root {
  --article-measure: auto;
  --sidebar-max: 16rem;
  --container-sides: 1rem;
}
.article-measure {
  max-width: var(--article-measure);
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [full-start] var(--container-sides)
    [left-start] 1fr
    [article-start right-start] var(--article-measure)
    [article-end left-end] 1fr
    [right-end] var(--container-sides) [full-end];

  height: 100vh;
}
.container > header {
  grid-row: 1;
  grid-column: article;
  height: calc(30vh + 4rem);
}
.container > .left-sidebar {
  grid-row: 2 / -1;
  grid-column: left-start / article-start;
}
.container > * {
  grid-column: article;
}
.container .w-column {
  grid-column: full;
}
.container .w-grid {
  grid-column: full;
}
.container .w-large {
  grid-column: full;
  margin: 1em 0;
}
@media (min-width: 640px) {
  .container .w-column {
    grid-column: article;
  }
  .container .w-large {
    grid-column: article;
    margin: 1em -4vw;
  }
}

.float-left,
.float-right {
  display: block;
  text-align: center;
  margin: 1em -1rem;
}
.float-left a,
.float-right a {
  display: block;
}
span[data-image] img {
  display: block;
  width: 100%;
}
span[data-image] .caption {
  display: inline-block;
  font-size: 90%;
  opacity: 0.8;
  text-align: center;
  padding-top: 0.5em;
}
@media (min-width: 640px) {
  .float-left,
  .float-right {
    width: 45%;
    margin: 0.5em 0;
  }
  .float-left {
    margin-right: 1em;
    float: left;
  }
  .float-right {
    margin-left: 1em;
    float: right;
  }
  span[data-image] img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
    width: 100%;
  }
}

.container figure {
  text-align: center;
}
.container figure img {
  width: 100%;
  /*
  display: inline-block;
  vertical-align: middle;
  height: auto;
  */
}
.container figure figcaption {
  padding: 0 0.5em;
  font-size: 90%;
  opacity: 0.8;
  text-align: center;
}
.right-sidebar {
  grid-row: 2 / -1;
  grid-column: left-end / right-end;
  position: relative;
}
.container > footer {
  grid-column: full;
}
.left-sidebar,
.right-sidebar {
  display: none;
}
@media (min-width: 640px) {
  :root {
    --article-measure: 67%;
  }
}
@media (min-width: 768px) {
  :root {
    --article-measure: 55%;
  }
}
@media (min-width: 1000px) {
  .left-sidebar {
    display: flex;
  }
}
@media (min-width: 3000px) {
  :root {
    --body-percent: 0.55;
    --article-measure: calc(3000px * var(--body-percent));
  }
  .container {
    margin: 0 auto;
  }
}

p {
  margin: 1em 0;
}

p:first-of-type {
  font-size: 1.25em;
  font-weight: 400;
}

ul {
  margin-top: 0;
}
ul li p:first-of-type {
  font-size: 1em;
}

@media (min-width: 640px) {
  ul li p .speaker-icon {
    margin-left: -4em;
    margin-top: 0.25em;
  }
  ul li p .speaker-icon::after {
    padding-right: 3em;
  }
}

h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.125;
  margin: 1em 0 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.25;
  margin: 2em 0 0;
}

h3 {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.25;
  margin: 2.5em 0 0;
}

h2 + h3 {
  margin: 0.125em 0 0;
}

a,
a:active,
a:visited {
  color: rgba(17, 49, 49);
  text-decoration: underline solid rgb(10, 20, 20);
}

figure {
  margin: 0;
  padding: 0;
}

/* utilities */

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}
/*
.w-screen {
  width: 100vw;
}
*/

.font-thin {
  font-weight: 100;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 800;
}

.m-0 {
  margin: 0
}

/* sidenotes */

aside[name] {
  display: none;
}
span[name]::after {
  display: none;
}
@media (min-width: 768px) {
  .container {
    counter-reset: sidenoteCount 0;
  }
  .right-sidebar {
    counter-reset: sidenoteCount 1;
  }
  .right-sidebar {
    display: flex;
  }
  span[name]::after {
    vertical-align: super;
    display: inline;
    font-size: 0.5em;
    counter-increment: sidenoteCount;
    content: " " counter(sidenoteCount) "";
  }
  aside[name] {
    /* display: block; */
    position: absolute;
    font-size: 0.75rem;
    line-height: 1.3;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: var(--sidebar-max);
  }
  aside[name]::before {
    position: absolute;
    left: -1.5em;
    font-size: 0.8em;
    opacity: 0.8;
    content: " " counter(sidenoteCount) ".";
  }
  aside[name]::after {
    counter-increment: sidenoteCount;
    content: " ";
  }
}

span[name].margin-note {
  text-decoration: underline solid rgba(47, 79, 79, 0.3);
}
span[name].margin-note::after {
  counter-increment: none;
  content: none;
}
aside[name].margin-note::before {
  content: none;
}
aside[name].margin-note::after {
  counter-increment: none;
  content: none;
}


/* table of contents */

.table-of-contents {
  padding: 0 1em 1em 1em;
  margin-top: 1.5rem;
  font-size: 70%;
  max-width: var(--sidebar-max);
}
.table-of-contents a,
.table-of-contents a:active,
.table-of-contents a:visited {
  color: darkslategrey;
  text-decoration: none;
}
.table-of-contents ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.table-of-contents ol {
  margin-bottom: 1em;
}
.table-of-contents ol > ol {
  margin-bottom: 0;
}
.table-of-contents ol li {
  font-weight: 800;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  line-height: 1.2;
}
.table-of-contents ol ol li {
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  line-height: 1.3;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.table-of-contents ol ol ol li {
  font-weight: normal;
  line-height: 1.3;

  opacity: 0.6;
  margin-bottom: 0;
}

/* permalink pilcrow */

.header-anchor,
.header-anchor:active,
.header-anchor:visited {
  display: none;
  color: lightslategrey;
  text-decoration: none;
}
@media (min-width: 640px) {
  .header-anchor {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: -1em;
    line-height: 1;
    font-size: 80%;
    margin-top: 0.25em;
    opacity: 0;
    transition: opacity 0.3s;
    width: 1em;
  }
  *:hover > .header-anchor {
    opacity: 1;
  }
}

/* audio player */

audio[data-audio-player] {
  margin: 1em 0;
  width: 100%;
}
audio[data-audio-player] + p {
  margin-top: 0;
}

/* speaker icon */

.speaker-icon,
.speaker-icon:visited,
.speaker-icon:active {
  display: none;

  text-decoration: none;
}
@media (min-width: 640px) {
  .speaker-icon {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2em;
    line-height: 1;
    font-size: 80%;
    margin-top: 0.25em;
    opacity: 0;
    transition: opacity 0.3s;

    background-image: url(../speaker.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 1em;
    z-index: -1;
  }
  *:hover > .speaker-icon {
    opacity: 1;
  }
}

/* images */

.gallery {
  display: flex;
}
.gallery figure {
  flex: 1;
}
.gallery figure img {
  width: 100%;
}
.gallery > * + * {
  margin-left: 1em;
}

/* cover */

.cover {
  display: flex;
  flex-direction: column;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}

/* masthead */

.masthead {
  grid-row: 1;
  grid-column: full;
  position: relative;
  z-index: -1;
}
.masthead::before {
  content: '';
  background: linear-gradient(60deg, #6a4ce7 0%, #74effb 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}
.masthead video,
.masthead img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.masthead video {
  opacity: 0.2;
}

.cover--main {
  grid-row: 1;
  grid-column: article;
  margin-top: 2rem;
  color: white;
}
.cover--main a,
.cover--main a:active,
.cover--main a:visited {
  color: rgba(255, 255, 255);
  text-decoration: underline solid rgb(255, 255, 255, 0.5);
}
.cover--main .headline {
  font-size: 3rem;
  line-height: 0.9;
  margin: 0;
}
.cover--main .headline.font-thin {
  letter-spacing: -0.01em;
}
.cover--main .subheading {
  font-size: 1.25rem;
  margin: 0.5em 0 1.25em 0;
  line-height: 1.35;
}
.cover--main p {
  opacity: 0.5;
  font-size: 80%;
  line-height: 1;
}
@media (min-width: 640px) {
  .cover--main .cover {
    min-height: 14em;
  }
}
@media (min-width: 3000px) {
  .cover--main .cover {
    min-height: 22em;
  }
}
@media (min-width: 2000px) {
  .cover--main .headline {
    font-size: 4em;
  }
}
@media (min-width: 3000px) {
  .cover--main .headline {
    font-size: 4.75em;
  }
}

/* primary nav */

.primary-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  display: block;
  width: 6rem;
  line-height: 2rem;
  height: 2rem;
  fill: rgba(255, 255, 255, 0.6);
  margin-top: 0.1rem; /* optical */
}

/* menu */

.menu {
  font-size: 70%;
  line-height: 1.5;
  z-index: 1;
}
.menu, .menu * {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}
.menu a,
.menu a:active,
.menu a:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.menu > li > a {
  display: flex;
  align-items: center;
  align-self: flex-start;

  padding: 0.25rem 0.75rem;
  height: 2rem;
  line-height: 1;
  border-radius: 0.5rem;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s, color 0.3s;
}
.menu > li:hover > a {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.8);
}
.menu > li > ul {
  position: absolute;
  top: 2rem;
  width: 8rem;
  overflow: hidden;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  opacity: 0;
  padding-top: 0.25rem;
  transition: opacity 0.3s, padding-top 0.3s;
}
.menu > li:hover > ul {
  opacity: 1;
  padding-top: 0.5rem;
}
.menu > li > ul > li a {
  display: block;
  padding: 0.25rem 0.75rem;
  background-color:rgba(0, 0, 0, 0.4);
}
.menu > li > ul > li:first-child > a {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-top: 0.5rem;
}
.menu > li > ul > li:last-child > a {
  padding-bottom: 0.5rem;
}
.menu > li > ul > li:hover a {
  background-color:rgba(0, 0, 0, 0.6);
}

/* footer */

footer {
  background-color: hsl(237, 28%, 40%);
  color: hsl(237, 28%, 75%);

  font-size: 0.75rem;
  padding: 1rem 0;

  margin-top: 1rem;
}

footer small {
  font-size: 0.75em;
}

/* blockquotes and pull quotes */

blockquote:not(.pullquote) {
  border-left: 0.25em solid rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  margin: 1em 0;
}
blockquote:not(.pullquote) > * {
  margin: 0;
  font-size: 1em;
}
@media (min-width: 640px) {
  blockquote:not(.pullquote) {
    padding: 0 1.5em;
  }
}
.pullquote {
  border-left: 0.25em solid rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  margin: 0;
}
.pullquote > * {
  margin: 0;
  font-size: 1.25em;
}
@media (min-width: 640px) {
  .pullquote {
    padding: 0 1.5em;
    margin: 0 -8vw;
  }
}

.pull-left, .pull-right {
  display: block;
  width: 50%;
  margin: 0.5em;
  font-size: 1.25em;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
@media (min-width: 640px) {
  .pull-left {
    margin-left: -8vw;
  }
  .pull-right {
    margin-right: -8vw;
  }
}

/* photoswipe */

.pswp {
  font-family: "THICCCBoi", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
.pswp__caption {
  background: none;
  bottom: 1rem;
}
.pswp__caption__center {
  text-align: center;
}

/* preserve aspect ratio */

[style*="--aspect-ratio"] {
  margin: 1em 0;
}
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}

/* audio player */

body .audio-player--fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}

.audio-player {
  margin-top: 1rem;
  margin-left: 1rem;

  width: 9rem;
  height: 2rem;

  border-radius: 2rem;

  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  display: none;
  overflow: hidden;

  padding: 0.5rem 0.75rem;

  pointer-events: none;
  transition: opacity 0.3s;

  position: absolute;
  top: 0;

  opacity: 0;
}
.audio-player--active {
  opacity: 1;
  pointer-events: auto;
}
.audio-player:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  left: 0;
  width: 9rem;
  height: 2rem;
  padding: 0.5rem 0.75rem;

  mix-blend-mode: multiply;

  pointer-events: none;
}
@media (min-width: 640px) {
  .audio-player {
    display: flex;
  }
}
.audio-player .button {
  display: block;

  height: 100%;
  width: 20%;

  background-repeat: no-repeat;
  background-size: contain;
}
.audio-player .button--pause {
  background-image: url(../icons.svg#pause);
}
.audio-player .button--play {
  position: relative;
  left: 0.1rem;
  background-image: url(../icons.svg#play);
}
.audio-player .progress-bar {
  height: 0.75rem;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.75rem;
  overflow: hidden;
  mix-blend-mode: screen;
}
.audio-player .progress {
  width: 0;
  height: 100%;
  background-color:rgba(106, 76, 231);
}


h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
p[id^=p] {
  position: relative;
}
h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
p[id^=p]::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffc;
  z-index: -1;
  margin: -0.3rem -0.6rem;
  padding: 0.3rem 0.6rem;

  opacity: 0;
  transition: opacity 0.5s;
}
h1[data-speak-active]::before,
h2[data-speak-active]::before,
h3[data-speak-active]::before,
h4[data-speak-active]::before,
h5[data-speak-active]::before,
p[data-speak-active]::before {
  opacity: 1;
}

/* storyboarder page */

.container > header.header--tall {
  height: calc(60vh + 4rem);
}

.button--download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 0.5rem;

  background-color: rgba(255, 255, 255, 0.2);
  transition: backgrond-color 0.2s;
  animation: button-pulse 1s ease-in-out infinite alternate;

  text-decoration: none;
  color: white;
}
.button--download:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes button-pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.cover--main .button--download,
.cover--main .button--download:visited,
.cover--main .button--download:active {
  text-decoration: none;
}

.features-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  justify-content: space-between;
  padding: 0 var(--container-sides);
}
.features-grid > div[style*="--aspect-ratio"] {
  margin: 0;
}
