@font-face {
  font-family: THICCCBoi;
  font-weight: 400;
  src: url("../font/THICCCBOI-Regular.woff2") format("opentype");
}

@font-face {
  font-family: THICCCBoi;
  font-weight: 800;
  src: url("../font/THICCCBOI-ExtraBold.woff2") format("opentype");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

@media (min-width: 768px) {
  html {
    font-size: calc(((2.8438 - 1) * ((100vw) - 48em) / (187.5 - 48)) + 1em);
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 2.8438em;
  }
}


/* structure */

body {
  margin: 0;
}

.container {
  font-family: "THICCCBoi", sans-serif;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.4;
  color: darkslategrey;
}

.container {
  display: grid;
  height: 100vh;
}
header {
  grid-column: 1 / 4;
}
.left-sidebar {
  grid-column: 1 / 2;
}
main {
  grid-column: 2 / 3;
}
.right-sidebar {
  grid-column: 3 / 4;
}
footer {
  grid-column: 1 / 4;
}

:root {
  --body-measure: 100%;
}
.body-measure {
  max-width: var(--body-measure);
}
.container {
  grid-template: auto 1fr auto / minmax(0, 1fr) var(--body-measure) minmax(0, 1fr);
  /* margin: 0 auto; */
}
/* TODO utility classes */
.container .left-sidebar,
.container .right-sidebar {
  display: none;
}
@media (min-width: 640px) {
  :root {
    --body-measure: 55%;
  }
  .container {
    /* column-gap: 1rem; */
    /* margin: 0; */
  }
}
@media (min-width: 640px) {
  .container .right-sidebar {
    display: flex;
  }
}
@media (min-width: 1000px) {
  :root {
    --body-measure: 55%;
  }

  .container .left-sidebar {
    display: flex;
  }
}
@media (min-width: 3000px) {
  :root {
    --body-percent: 0.67;
    --body-measure: calc(3000px * var(--body-percent));
  }
  .container {
    grid-template: auto 1fr auto / minmax(0, 1fr) var(--body-measure) minmax(0, 1fr);
    margin: 0 auto;
  }
}

p {
  margin: 1em 0;
}

p:first-of-type {
  font-size: 1.25em;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.125;
  margin: 1em 0 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.25;
  margin: 2em 0 0;
}

h3 {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.25;
  margin: 2.5em 0 0;
}

h2 + h3 {
  margin: 0.125em 0 0;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

figure {
  margin: 0;
  padding: 0;
}

/* utilities */

.mobile-pad {
  margin: 0 auto;
  padding: 0 1rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.w-full	{
  width: 100%;
}

/* sidenotes */

aside[name] {
  display: none;
}
span[name]::after {
  display: none;
}
@media (min-width: 640px) {
  main {
    counter-reset: sidenoteCount 0;
  }
  .right-sidebar {
    counter-reset: sidenoteCount 1;
  }
  span[name]::after {
    vertical-align: super;
    display: inline;
    font-size: 0.5em;
    counter-increment: sidenoteCount;
    content: " " counter(sidenoteCount) "";
  }
  aside[name] {
    display: block;
    position: absolute;
    font-size: 0.75rem;
    line-height: 1.3;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  aside[name]::before {
    position: absolute;
    left: -1.5em;
    font-size: 0.8em;
    opacity: 0.8;
    content: " " counter(sidenoteCount) ".";
  }
  aside[name]::after {
    counter-increment: sidenoteCount;
    content: " ";
  }
}

/* table of contents */

.toc {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 0.75rem;
  padding: 1em;
  margin-top: -1.5rem;
  font-size: 60%;
}
.toc ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.toc ol {
  margin-bottom: 1em;
}
.toc ol > ol {
  margin-bottom: 0;
}
.toc ol > li {
  font-weight: 800;
}
.toc ol > li li {
  font-weight: normal;
}
.header-anchor {
  position: absolute;
  margin-left: -0.75em;
  font-size: 75%;
  line-height: 1;
  opacity: 0.3;
}

/* images */

.gallery {
  display: flex;
}
.gallery figure {
  flex: 1;
}
.gallery figure img {
  max-width: 100%;
}
.gallery > * + * {
  margin-left: 1em;
}

/* cover */

.cover {
  display: flex;
  flex-direction: column;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}

/* masthead */

.masthead {
  color: white;
  background: linear-gradient(60deg, #6a4ce7 0%, #74effb 100%);
}
.masthead .cover {
  height: 30vh;
  max-height: 14em;
  padding: 1.5rem 0 2rem 0;
  margin-bottom: 1.5rem;
}
.masthead h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.9;
  margin: 0;
}
@media (min-width: 640px) {
  .masthead .cover {
    min-height: 14em;
  }
}
@media (min-width: 3000px) {
  .masthead .cover {
    min-height: 22em;
  }
}
@media (min-width: 2000px) {
  .masthead h1 {
    font-size: 4em;
  }
}
@media (min-width: 3000px) {
  .masthead h1 {
    font-size: 5em;
  }
}

/* primary nav */

.primary-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  display: block;
  width: 6rem;
  line-height: 2rem;
  height: 2rem;
  fill: rgba(255, 255, 255, 0.6);
  margin-top: 0.1rem; /* optical */
}

.menu {
  font-size: 70%;
  line-height: 2rem;
  height: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li a {
  padding: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
}
.menu > * + * {
  margin-left: 1em;
}

/* footer */

footer {
  background-color: hsl(237, 28%, 40%);
  color: hsl(237, 28%, 75%);

  font-size: 0.75rem;
  padding: 1rem 0;

  margin-top: 1rem;
}

footer small {
  font-size: 0.75em;
}
